/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:  none (public domain)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: url("../img/bg.jpg");
	font-family: Segoe UI, sans-serif;
	color: #555555;
	line-height: 1.5em;
	font-size: 14px;
	text-shadow: 0px 1px 0px #ECECEC;
}

a {
	text-decoration: none;
	color: #555;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.clear {
	clear: both;
}

@font-face {
	font-family: 'equal_sans_demoregular';
	src: url('../fonts/equalsans_demo-webfont.eot');
	src: url('../fonts/equalsans_demo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/equalsans_demo-webfont.woff') format('woff'), url('../fonts/equalsans_demo-webfont.ttf') format('truetype'), url('../fonts/equalsans_demo-webfont.svg#equal_sans_demoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#header,#footer {
	height: 155px;
	position: relative;
	z-index: 2;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
}

#footer {
	background: transparent url(../img/doted.png) repeat-x;
	background-position: 0px 5px;
	box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.25);
}


#header {
	background: transparent url(../img/doted.png) repeat-x;
	background-position: 0px 147px;
}

#header_content,#content,#footer_content {
	width: 960px;
	margin: 0 auto;
	height: 100%;
}
#content.admincontent {
	width: 1100px;
	margin: 0 auto;
	height: 100%;
}


#content_wrapper {
	background: white;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}

#logo a {
	width: 203px;
	height: 186px;
	display: block;
	background: url(../img/logo.png) no-repeat;

	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	-ms-transition: all linear 200ms;
	transition: all linear 200ms;
}

#logo a:hover {
	margin-top: 10px;
}

#logo {
	margin-left: -6px;
	width: 203px;
	height: 155px;
	position: relative;
	float: left;
	z-index: 0;
}

#logo a:before {
	z-index: 3;
	border-radius: 100%;
	left: -5px;
	top: 0;
	content: "";
	display: block;
	width: 210px;
	height: 14px;
	position: absolute;

	-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.44);
	box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.44);
}

#logo a:after {
	z-index: 3;
	left: -23px;
	background: black;
	top: 0;
	content: "";
	display: block;
	width: 250px;
	height: 15px;
	background: url(../img/bg.jpg);
	position: absolute;
}

#menu {
	margin-top: 60px;
	float: right;
}

#menu li {
	margin-left: 28px;
	float: left;
}


#menu li:first-child {
margin-left: 0px;
}
#menu a {
	font-family: equal_sans_demoregular;
	color: #888888;
	font-size: 27px;
	text-decoration: none;
	text-shadow: 0px 1px 0px whiteSmoke;
	position: relative;

	-webkit-transition: all linear 100ms;
	-moz-transition: all linear 100ms;
	-o-transition: all linear 100ms;
	-ms-transition: all linear 100ms;
	transition: all linear 100ms;
}

#menu a:hover {
	color: #ee1a2d;
}

#menu a:hover:after {
	bottom: -9px;
	border-radius: 10px;
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	content: "";
	background: #EE1A2D;

	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	-ms-transition: all linear 200ms;
	transition: all linear 200ms;
}

#menu ul {
	position: relative;
}

#menu ul:after {
	bottom: -36px;
	border-bottom: 1px solid #EBEBEB;
	border-top: 1px solid #B6B6B6;
	border-radius: 10px;
	display: block;
	position: absolute;
	width: 100%;
	height: 4px;
	content: "";
}

#add_this {
	position: relative;
	margin-top: 26px;
	width: 125px;
	clear: right;
	float: right;
}

#add_this a:hover {
	margin-top: 9px;

	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	-ms-transition: all linear 200ms;
	transition: all linear 200ms;
}

#add_t {
	height: 32px;
	width: 32px;
	display: block;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: -94px -169px;	
}

#add_g {
	height: 32px;
	width: 32px;
	display: block;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: -53px -169px;	
}

#add_f {
	height: 32px;
	width: 32px;
	display: block;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;	
	background-position: -6px -169px;	
	}

#add_this li {
	float: left;
}

#add_this:before {
	z-index: 3;
	border-radius: 100%;
	left: -16px;
	top: 5px;
	content: "";
	display: block;
	width: 127px;
	height: 2px;
	position: absolute;

	-webkit-box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.44);
	box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.44);
}

#add_this:after {
	z-index: 3;
	left: -63px;
	background: black;
	top: -12px;
	content: "";
	display: block;
	width: 250px;
	height: 22px;
	background: url(../img/bg.jpg);
	position: absolute;
}

#contenu {
	width: 615px;
	float: left;
	position: relative;
}

#sidebar {
	padding: 22px;
	background: url("../img/bg.jpg");
	width: 271px;
	float: right;
}

#contenu article {
	margin-bottom: 25px;
	padding: 22px;
	background: url("../img/bg.jpg");
}

.bandeau {
	position: relative;
	margin-left: -30px;
	margin-top: -15px;
	display: inline-block;
	text-shadow: 0px 1px 0px #888;
	color: white;
	font-size: 28px;
	font-family: equal_sans_demoregular;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 9px;
	padding-left: 50px;
	background: #B0CFEC;

	-webkit-box-shadow: 3px 3px 3px 0px #C5C5C5;
	box-shadow: 3px 3px 3px 0px #C5C5C5;
	margin-bottom: 15px;
}



.bandeau:before {
	width: 35px;
	bottom: 2px;
	left: 7px;
	content: "";
	display: block;
	position: absolute;
	height: 35px;
}

.bandeau.recrut:before {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: -1px -1px;	
}

.bandeau.une:before {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: -44px -2px;
}

.bandeau.login:before {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: -89px -2px;
}

.bandeau.actus:before {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: -1px -41px;
	
}

.bandeau.contact:before {
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: -47px -41px;

}

.bandeau.actus,.bandeau.contact {
	margin-top: 0;
}

.bandeau:after {
	bottom: -5px;
	left: 0;
	border-left: 8px solid transparent;
	content: "";
	display: block;
	position: absolute;
	border-top: 5px solid #5B7A97;
}

article:hover .bandeau,#box_login:hover .bandeau,#box_actus:hover .bandeau,#box_contact:hover .bandeau {
	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	-ms-transition: all linear 200ms;
	transition: all linear 200ms;
	background: #97BFE6;
}

.login_input,.mdp_input {
	vertical-align: middle;
	padding: 0;
	display: inline-block;
	border: 1px solid #AFAFAF;
	border-radius: 0 3px 3px 0;
	height: 30px;
	width: 238px;
	text-indent: 5px;

	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	-ms-transition: all linear 200ms;
	transition: all linear 200ms;
}

.login_input:focus,.mdp_input:focus {
	outline: none;

	-webkit-box-shadow: inset 1px 1px 3px 0px #C2C2C2;
	box-shadow: inset 1px 1px 3px 0px #C2C2C2;
}

.login_input:hover,.mdp_input:hover {
	background: #ECF0F5;
}

.before_login_input,.before_mdp_input {
	background: #F3F3F3;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #AFAFAF;
	border-radius: 3px 0 0 3px;
	height: 30px;
	width: 30px;
	border-right: none;
}

.login_input,.mdp_input,.before_login_input,.before_mdp_input {
	margin-bottom: 15px;
}

.before_login_input {
	background-position: -92px -81px;
	background-position-y: -81px;
	background-position-x: -92px;
}

.before_mdp_input {
background-position: -91px -42px;
}

.right_button {
	text-shadow: 0px 1px 0px black;
	font-size: 22px;
	color: white;
	font-family: equal_sans_demoregular;

	-webkit-box-shadow: 0px 4px 0px 0px #636363;
	box-shadow: 0px 4px 0px 0px #636363;
	display: block;
	height: 35px;
	background: #888;
	float: right;
	width: 115px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 3px;

	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	-ms-transition: all linear 200ms;
	transition: all linear 200ms;
}

.right_button:hover {
	background: #747474;
	margin-top: 3px;

	-webkit-box-shadow: 0px 1px 0px 0px #636363;
	box-shadow: 0px 1px 0px 0px #636363;
	margin-bottom: 0px;
}

.right_button:active {
	background: #6B6B6B;
}

.right_button.contact_link {
	line-height: 35px;
	text-align: center;
}

#list_actus {
	height: 155px;
	width: 271px;
}

#list_actus li a {
	font-size: 18px;
	font-weight: bold;
}

#list_actus li p em {
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#list_actus li p {
	text-align: justify;
}

.all_actus {
	text-decoration: underline;
	font-size: 14px;
	color: #555;
	font-weight: bold;
	float: right;
}

.anythingSlider-min.activeSlider .anythingControls a.cur,.anythingSlider-min.activeSlider .anythingControls a:hover {
	background-color: #3C3C3C;
	color: black;
}

.anythingSlider-min.activeSlider .anythingControls a {
	background-color: #888;
}

.anythingSlider-min .anythingControls ul a {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 3px;
	padding: 0;
	text-decoration: none;
	text-align: center;
	outline: 0;
}

.anythingSlider-min .anythingControls span {
	display: block;
	visibility: hidden;
}

.anythingSlider-min .anythingControls ul li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

.anythingSlider-min .anythingControls ul {
	margin: 0;
	padding: 0;
	float: left;
}

.anythingSlider-min .anythingControls {
	height: 15px;
	outline: 0;
	float: left;
	bottom: 5px;
	right: 20px;
	z-index: 100;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.90;
}

#box_actus {
	margin-bottom: 15px;
}

.text_recrut {
	float: left;
	text-align: justify;
	width: 340px;
}

.button_cv {
	line-height: 139px;
	text-align: center;
	text-shadow: 0px 1px 0px black;
	font-size: 34px;
	color: white;
	font-family: equal_sans_demoregular;

	-webkit-box-shadow: 0px 4px 0px 0px #A50E1B;
	box-shadow: 0px 4px 0px 0px #A50E1B;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#636363', Direction=180, Strength=4);
	
	display: block;
	height: 139px;
	background: #EE1A2D;
	float: right;
	width: 200px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 3px;

	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	-ms-transition: all linear 200ms;
	transition: all linear 200ms;
}

.button_cv:hover {
	background: #DF192B;
	margin-top: 3px;

	-webkit-box-shadow: 0px 1px 0px 0px #636363;
	box-shadow: 0px 1px 0px 0px #636363;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#636363', Direction=180, Strength=0);
	margin-bottom: 0px;
}

.button_cv:active {
	background: #B91221;
}

#socials {
	color: #888;
	font-size: 22px;
	margin-top: 20px;
	float: left;
	font-family: equal_sans_demoregular;
}

#socials div {
	font-size: 32px;
}

#socials a {
	margin-top: 27px;
	padding-left: 40px;
	margin-left: 20px;
	display: block;
	color: #888;
	position: relative;
}

#slogan {
	margin-top: 20px;
	text-indent: -9999px;
	float: right;
	background: transparent url('../img/slogan.png');
	width: 300px;
	height: 38px;
}

#address {
	margin-top: 55px;
	float: right;
	clear: right;
}

#address address {
	display: inline-block;
	margin-right: 8px;
}

#page_fb:before {
	left: -4px;
	top: -14px;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: -1px -73px;
	position: absolute;
	content: "";
	display: block;
	width: 45px;
	height: 45px;
}

#chaine_ytb:before {
	left: -4px;
	top: -10px;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
	background-position: -1px -120px;
	position: absolute;
	content: "";
	display: block;
	width: 45px;
	height: 45px;
}

#page_fb:hover:before {
background-position: -50px -74px;
}

#chaine_ytb:hover:before {
background-position: -49px -122px;
}

.image_une {
	margin-top: 7px;
	margin-right: 10px;
	border: 5px solid white;
	max-width: 225px;
	float: left;
	max-height: 250px;
	overflow: hidden;
}

.image_une img {
	width: 100%;
}
div.wpcf7.wpcf7{
width: 350px;
margin:0 auto;
}
.wpcf7 input,.wpcf7 textarea{
vertical-align: middle;
padding: 0;
display: inline-block;
border: 1px solid #AFAFAF;
border-radius: 0 3px 3px 0;
height: 30px;
width: 350px;
text-indent: 5px;
-webkit-transition: all linear 200ms;
-moz-transition: all linear 200ms;
-o-transition: all linear 200ms;
-ms-transition: all linear 200ms;
transition: all linear 200ms;
}
.wpcf7 textarea{
height: 200px;
}
.wpcf7 input:hover,.wpcf7 textarea:hover {
background: #ECF0F5;
}
.wpcf7 input:focus,.wpcf7 textarea:focus {
	outline: none;
	-webkit-box-shadow: inset 1px 1px 3px 0px #C2C2C2;
	box-shadow: inset 1px 1px 3px 0px #C2C2C2;
}
/* ---------------   ADMIN  ---------------- */
#admin_menu {
float: left;
}
#admin_menu {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 0px;
padding-left: 10px;
width: 270px;
float: left;
}
#contenu.contenu_admin {
margin-left: 10px;
margin-top: 10px;
background: url("../img/bg.jpg");
padding: 10px;
width: 780px;
}


#contenu.contenu_agent{
    width: 590px;
}
#contenu.contenu_agent table tr:nth-child(even){
    background-color: #FFF;
}



#admin_menu ul li a {
text-indent: 25px;
position: relative;
margin-left: -8px;
margin-top: 0;
margin-right: -8px;
display: block;
text-shadow: 0px 1px 0px #888;
color: white;
font-size: 27px;
font-family: equal_sans_demoregular;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 8px;
padding-left: 20px;
background: #B0CFEC;
-webkit-box-shadow: 0px 3px 5px 0px #C5C5C5;
box-shadow: 0px 3px 5px 0px #C5C5C5;
margin-bottom: 9px;
}

#admin_menu ul li a::after {
bottom: -5px;
right: 0;
border-right: 8px solid transparent;
content: "";
display: block;
position: absolute;
border-top: 5px solid #5B7A97;
height:0px;
width:0px;
}
#admin_menu ul li a::before {
bottom: -5px;
left: 0;
border-left: 8px solid transparent;
content: "";
display: block;
position: absolute;
border-top: 5px solid #5B7A97;
height:0px;
width:0px;
}

#admin_menu ul .menu-child a {
width: 264px;
box-shadow: none;
text-shadow: none;
color: #555;
background: none;
padding: 5px;
font-size: 23px;
margin-left: 1px;
text-indent: 5px;
padding-left: 0;
}

#admin_menu ul .menu-child a:before {
content:none;
}
#admin_menu ul .menu-child a:after {
content:none;
}

#admin_menu ul .menu-child a:hover {
background: #E0E0E0;
}
#admin_menu nav {
box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.17),-1px 3px 6px 0px rgba(0, 0, 0, 0.17);
}

#admin_menu ul li a.tab_bord {
background-image: url(../img/admin_sprite.png);
background-repeat: no-repeat;
background-position: -5px -1px;
}

#admin_menu ul li a#toggle_fiches {
background-image: url(../img/admin_sprite.png);
background-repeat: no-repeat;
background-position: -5px -41px;
}
#admin_menu ul li a.gerer_pages {
background-image: url(../img/admin_sprite.png);
background-repeat: no-repeat;
background-position: -5px -83px;
}

#admin_menu ul li a#toggle_actus {
background-image: url(../img/admin_sprite.png);
background-repeat: no-repeat;
background-position: -5px -122px;
}
#admin_menu ul li a#toggle_actions {
background-image: url(../img/admin_sprite.png);
background-repeat: no-repeat;
background-position: -5px -162px;
}
#admin_menu ul li a#toggle_bruis {
background-image: url(../img/admin_sprite.png);
background-repeat: no-repeat;
background-position: -5px -202px;
}
#admin_menu ul li a.gerer_une {
box-shadow: none;
background-image: url(../img/admin_sprite.png);
background-repeat: no-repeat;
background-position: -5px -243px;
}
#admin_menu ul li a.gerer_une:before {
left: 0;
right: 8px;
}
.bandeau.deposercv{
margin-left: -90px;
margin-top:5px;
margin-right:200px;
}
.fiches.form{
margin-top: 10px;
background: url("../img/bg.jpg");
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
width: 595px;
}
.contenu_admin form, .fiches.form form {
margin: 0 auto;
width: 700px;
}
.contenu_admin form .input.text input,.contenu_admin form  select,.contenu_admin form .input.checkbox input,.contenu_admin form .input.file input,
.fiches.form form .input.text input,.fiches.form form  select,.fiches.form form .input.checkbox input,.fiches.form form .input.file input
  {
float: right;
}
.contenu_admin form  label, .fiches.form form  label{
float: left;
}
.contenu_admin form .input.text,.contenu_admin form .input.textarea,.contenu_admin form .select,.contenu_admin form .input.checkbox,.contenu_admin form .input.file,
.fiches.form  form .input.text,.fiches.form  form .input.textarea,.fiches.form  form .select,.fiches.form  form .input.checkbox,.fiches.form  form .input.file
 {
clear: both;
}
.contenu_admin  textarea, .fiches.form textarea  {
clear: both;
height: 200px;
width: 100%;
}
.contenu_admin form .input.text input, .fiches.form form .input.text input{
width: 280px;
	vertical-align: middle;
	padding: 0;
	display: inline-block;
	border: 1px solid #AFAFAF;
	border-radius: 3px;
	height: 30px;
	text-indent: 5px;

	-webkit-transition: all linear 200ms;
	-moz-transition: all linear 200ms;
	-o-transition: all linear 200ms;
	-ms-transition: all linear 200ms;
	transition: all linear 200ms;
}

.contenu_admin form .input.text input:focus, .fiches.form form .input.text input:focus {
	outline: none;

	-webkit-box-shadow: inset 1px 1px 3px 0px #C2C2C2;
	box-shadow: inset 1px 1px 3px 0px #C2C2C2;
}

.contenu_admin form .input.text input:hover,  .fiches.form form .input.text input:hover{
	background: #ECF0F5;
}
.contenu_admin form .input, .contenu_admin form .select,
.fiches.form form .input, .fiches.form form .select
{
width: 450px;
height: 30px;
margin-bottom: 10px;
}
.contenu_admin form .input.textarea,
.fiches.form form .input.textarea
 {
height: auto;
}
#FicheDateNaissanceDay {
margin-right: 138px;
}
.contenu_admin form legend,#contenu.contenu_admin h1,
.fiches.form form legend,#contenu.fiches.form h1
 {
margin-bottom: 10px;
text-align: center;
font-weight: bold;
font-size: 20px;
}
.actions {
margin-bottom: 10px;
}
.contenu_admin th {
background: #ADADAD;
text-align: left;
font-weight: bold;
vertical-align: middle;
height: 30px;
}

.contenu_admin td {
vertical-align: middle;
height: 30px;
}

.contenu_admin a:hover {
text-decoration:underline;
}
.contenu_admin table {
width: 100%;
}
.contenu_admin .paging_counter{
text-align:center;
margin:10px;
}
.paging {
text-align: center;
}
.contenu_admin h2,.fiches.form h2 {
margin-top: 10px;
margin-bottom: 6px;
text-align: left;
font-weight: bold;
font-size: 18px;
}
.contenu_admin h3 ,.fiches.form h3{
margin-top: 6px;
margin-bottom: 3px;
text-align: left;
font-weight: bold;
font-size: 14px;
margin-left: 10px;
}
.contenu_admin h4 ,.fiches.form h4{
margin-top: 6px;
margin-bottom: 3px;
text-align: left;
font-weight: bold;
font-size: 14px;
margin-left: 20px;
}
.contenu_admin .criteres {
margin-left: 10px;
}
#fichesavalider a {
padding-right: 5px;
padding-left: 5px;
border-radius: 5px;
color: white;
background: #EE1A2D;
}

.consulter {
line-height: 18px;
height: 20px;
width: 82px;
margin-top: 5px;
color: white;
border-radius: 5px;
background: #B0CFEC;
padding: 5px;
display: block;
}

#toutesactus h1 {
margin-bottom: 10px;
text-align: center;
font-weight: bold;
font-size: 20px;
}
#toutesactus h2 {
margin-bottom: 10px;
text-align: left;
font-weight: bold;
font-size: 18px;
}
/* ---------------  FIN ADMIN  ---------------- */